<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 my-3">
                    <!-- TODO: Colocar pra aparecer o nome, juntamente com um novo campo "Usuario" tipo nome de user -->
                    <h1 class="text-center">Olá <%= user.email %></h1>
                    <p class="text-center lead">Voce precisa sair para criar outra conta</p>
                    <%- include('includes/messages')%>
                </div>
            </div>
        </div>

        <%- include('includes/footer') %>